    body {
      font-family: 'Open Sans', sans-serif;
      background-color: #D83B01;
      color: #ffffff;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    header {
      background-color: #BF3300;
      padding: 15px;
      text-align: center;
      position: sticky;
      top: 0;
    }
    header img {
      max-height: 40px;
      margin-right: 10px;
      vertical-align: middle;
    }
    header h1 {
      display: inline;
      font-size: 1.5rem;
    }
    main {
      padding: 20px;
      flex: 1;
    }
    .card {
      background: #BF3300;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    img {
      width: 100px;
      height: auto;
      border-radius: 0px;
      /* float: left; */
      float: center;
      margin-right: 0px;
    }
    footer {
      background-color: #BF3300;
      color: #ffffff;
      text-align: center;
      padding: 10px;
      position: relative;
    }